version: "3"

services:
  redis:
    restart: unless-stopped
    image: docker.io/redis:7.0-alpine
    container_name: campra_redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data

  db:
    restart: unless-stopped
    image: docker.io/postgres:12.2-alpine
    container_name: campra_db
    ports:
      - "5432:5432"
    env_file:
      - .config/docker.env
    volumes:
      - ./db:/var/lib/postgresql/data
